In [ ]:
#addition
x=2+0+5
y=4.2+3
x
y 
#executes the last statement to output 
# here i am trying to print x and y both are print only the last statement y only prints

In [ ]:
y

In [ ]:
x

In [ ]:
#subtraction 
100-0-99

In [ ]:
x=9+8
x

In [ ]:
#multiplication
5*4

In [ ]:
#division
4/8    #float division

In [ ]:
#integer division
4//8

In [ ]:
#reminder 
25%6

In [ ]:
#power (exponential operator )

5**2

website :  www.math-only-math.com

## problems  1:

The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [ ]:
#solution 
M = 45312  # men
W = 35678  # women
T =198568  #total_population
no_of_children = T-(M+W)
e = no_of_children
e

In [ ]:
e+M+W

In [ ]:
9372*124

In [ ]:
4356/86

In [ ]:
1575 /75

In [ ]:
fat=10
fat==5

In [ ]:
""" this is the sample programming"""
a=5
for i in range(0,6):
    x=a**i
    print(a ,"power " ,i ,"=" ,x) # print statement string with varibles

In [ ]:
3!=1

In [ ]:
# 0=0 SyntaxError: cannot assign to literal
0==0

## logical operators

In [ ]:
# and operator
True and True

In [ ]:
True and False

In [ ]:
a=1
b=0
a<0 and b>=0

In [ ]:
#or operator 
a>=2 or b>=5

In [ ]:
a>=1 or b>=5

In [ ]:
True or False

In [ ]:
# not operator 
not 1

In [ ]:
not 0

In [ ]:
not True

In [ ]:
not False

In [ ]:
not a>=1

In [ ]:
not b>8

## Data types

In [ ]:
# data types
a= "data"
a

In [3]:
x,b,c="ab","bc","ca"

In [4]:
x

'ab'

## Project Euler Problem 1

In [29]:
sum=0
for i in range (1,1000):
    if (i%3==0 or i%5==0):
        sum+=i
        
        
print(sum)

233168

In [30]:
b

'bc'

In [31]:
c

'ca'

In [32]:
a=b=c="one"

In [33]:
a

'one'

In [34]:
b

'one'

In [35]:
c

'one'

In [36]:
b="two"

In [40]:
b,c,d=3,7,8
print(b,c,d)

3 7 8

In [39]:
#incrementation 
count=1
count+=4
count

5

## Variable Name Conventions

In [47]:
A=10   # start with lower or upper case letters or _
_A=0
a=0    # variable names are case sensitive 
A0a =4

# allowed lower or upper case letters and 0-9 & _

## Type()

In [48]:
type(A)

int

In [49]:
zev="one"
type(zev)

str

In [50]:
talk = ('1','2','3')

In [51]:
type(talk)

tuple

In [52]:
moon =[ "keer" , "farina" , "pavi "]

In [53]:
type(moon)

list

In [55]:
p={'color':'blue'}

In [56]:
type(p)

dict

In [57]:
#float 
x=1e-3 # scientific notaion e-1= 10 power(-1)
x

0.001

In [58]:
avogadro = 6.02345454e23

In [59]:
avogadro

6.02345454e+23

In [60]:
d=6e10

In [61]:
d

60000000000.0

In [62]:
# conversion 
# Float to integer , integer to float
pi = 3.14
apple =50

In [63]:
int(pi)

3

In [64]:
float(apple)

50.0

In [65]:
type(2*4.0)

float

In [66]:
type(1*4)

int

In [67]:
type(10/6)

float

In [68]:
type(10//6)

int

In [81]:
type("add "*3)

str

In [80]:
"add "*3

'add add add '

In [82]:
#boolean 
red=True
red

True

In [83]:
0>4

False

In [85]:
you=(0<9)==(0>9) #boolean in expression output is true or false is stored
you

False

In [95]:
y=int(you)
y

0

In [98]:
# bool type 
bool(100)

True

In [97]:
bool(False)

False

## None Type

In [99]:
# None Type 
data = None 
type(data)

NoneType

In [102]:
print (data , "is this ")

None is this

## String Type

In [104]:
# string 
aunt = "lady"
joe = 'baby'  # both '' & " " used to declare a string 
print (aunt , joe)

lady baby

In [106]:
# multiple ' used 
'apple's flash are much tasty then orange's pulp'

SyntaxError: invalid syntax (<ipython-input-106-fca0a0a8484b>, line 2)

In [110]:
statement = 'apple\'s flash are much tasty then orange\'s pulp'

In [111]:
statement

"apple's flash are much tasty then orange's pulp"

In [112]:
# multiline strings
""" this is a tutorial for python"""
x=99

In [115]:
art = """a
b"""
art # \n taken as character

'a\nb'

In [114]:
len(art)

3

In [116]:
list(art)

['a', '\n', 'b']

In [117]:
day="monday"
day[0]

'm'

In [120]:
#slice
day[:]

'monday'

In [121]:
day[0:6]

'monday'

In [122]:
day[:5]

'monda'

In [125]:
day[2:]

'nday'

In [132]:
day= "sunday"
'day' in day

True

In [133]:
'sat' in day

False

In [134]:
'sun' in day

True

In [135]:
a= "good"
b= 'girl'
a+b

'goodgirl'

In [139]:
a+" "+ b+"! o_o"

'good girl! o_o'

In [140]:
today="monday"
next="GOOD JOB"

In [141]:
today.upper()

'MONDAY'

In [143]:
next.lower()

'good job'

In [144]:
today.capitalize()

'Monday'

In [148]:
next_day = today.replace("mon","tues")

In [149]:
next_day

'tuesday'

In [152]:
"good, bad, god, goddess, kid,old".split(",") # split is seperating the string into the list

['good', ' bad', ' god', ' goddess', ' kid', 'old']

In [155]:
# strip method is used to remove the white space 
para = "       i love      python      ".strip() # remove extra space from front and back  not in the middle

In [156]:
para

'i love      python'

In [163]:
# format method usage 
output_template = "this is a bag of {} apples each cost {} , i totally spent {} out of {} in my wallet , remaining amount {}"

In [164]:
apples=20
cost=50
wallet=5000


message = output_template.format(apples,cost,(apples*cost),wallet , wallet-(apples*cost))
message

'this is a bag of 20 apples each cost 50 , i totally spent 1000 out of 5000 in my wallet , remaining amount 4000'

In [165]:
# concate string with integer 
"there are " + 20 + " children" # it will result in error

TypeError: can only concatenate str (not "int") to str

In [167]:
"there are " + str(20) + " children" # convert integer to str or better using format()

'there are 20 children'

In [168]:
str(23.000)

'23.0'

In [169]:
str(True)

'True'

In [177]:
str(['a','b','c'])

"['a', 'b', 'c']"

In [178]:
string =str(['a','b','c'])

In [179]:
len(string)

15